.logo-nav{
    width: 4vw;
}
nav a{
    font-weight: bold;
    transition: transform 0.7s;
}
nav a:hover{
    transform: translatex(-5px);
}
img#hero-img{
    border-radius: 20px;
    transition: transform 0.7s;

}
img#hero-img:hover{
    border-radius: 20px;
    transform: translateY(-10px);


}
body{
    font-family: 'Cantora One','Barlow', sans-serif;
}
*{
    margin: 0;
    padding: 0;
}
img.footer-logo{
    width: 4vw;
}
.headings{
    font-size: 50px;
}
@media screen and (max-width: 769px) {
    header{
        background: rgb(34, 34, 34);
        color: aliceblue;
    }
    span.ml-3{
        color: aliceblue;
    }
    .logo-nav img{
        visibility: none;
    }
    
}